/*
 * CSS Styles for Application
 *
 */

/* Resets */

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
header,
footer,
img,
a,
a:hover,
a:active,
a:visited,
table,
tr,
td,
th,
form,
input,
button,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #1a1a1a;
  border-width: 0;
}

.clear {
  float: none;
  width: 100%;
  height: 1px;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(248, 248, 248),
    rgb(231, 231, 231)
  );
  background-attachment: fixed;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
  .header ul.title-list {
    padding-right: 0 !important;
  }

  .header ul.menu {
    padding-left: 0 !important;
  }

  .logo-box {
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 70%;
  }

  .header ul {
    padding: 0 0.5rem;
  }

  .header ul li {
    padding: 0.5rem !important;
  }

  .logo-box {
    padding: 0 0 0 1rem !important;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 330px) {
  html {
    font-size: 55%;
  }
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 7rem 1fr 7rem;
}

/* Main color palette */
.header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.95);
  box-shadow: 0 -25px 11px 20px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.logo-box {
  display: flex;
  align-content: center;
  padding: 0 2rem;
}

#title {
  font-size: 2.5rem;
  display: inline-block;
  margin-top: -7%;
  margin-left: -10%;
}

.header a {
  font-weight: 700;
  text-transform: lowercase;
}

.header ul {
  display: flex;
  align-content: center;
  align-items: center;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  flex-wrap: wrap;
}

.header ul li {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.header .menu li a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  transition: opacity 0.15s;
}

.header .menu li a:hover {
  opacity: 0.7;
}

.header ul li.loggedIn {
  display: none;
}

body.loggedIn .header ul li.loggedIn {
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut {
  display: none;
}

.header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .logo img {
  width: 2.5rem;
}

.content {
  grid-row: 2 / 3;
  display: flex;
  margin-top: 1vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.footer {
  grid-row: 3 / 4;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footer .copyright {
  color: rgba(255, 255, 255, 0.85);
}

/* Index */

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: -2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  /* margin-top: -1rem; */
}

body.index .blurb {
  margin: 1vh 0 7vh 0;
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
}

body.index .blurb p {
  margin-top: 2vh;
}

.ctaWrapper {
  text-align: center;
}

.cta,
a.cta:hover,
a.cta:active,
a.cta:visited,
button.cta:hover,
button.cta:active,
button.cta:visited {
  margin: 0 5vw;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  width: 10rem;
  cursor: pointer;
  transition: all 0.2s;
  min-width: max-content;
}

a.cta:hover,
button.cta:hover,
.backButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  opacity: 0.93;
}

.cta.blue {
  background: linear-gradient(165deg, #3c76a5, #033b69);
}

.cta.green {
  background: linear-gradient(165deg, #3aa159, #21783b);
}

.cta.red {
  background: linear-gradient(165deg, #e01e1e, #bd2e2e);
}

.warning {
  font-style: italic;
  color: #c83737;
  text-align: center;
  line-height: 150%;
  padding: 0 0 1.5rem 0;
}

/* Form Styling for Account Creation page and others */

.formWrapper {
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  padding: 1rem;
}

.formError {
  display: none;
  background: linear-gradient(165deg, #e01e1e, #bd2e2e);
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
}

.formSuccess {
  display: none;
  background: linear-gradient(165deg, #3aa159, #21783b);
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
}

hr {
  margin: 1rem 0;
}

input,
select,
option {
  border-width: 1px;
  border-radius: 5px;
  padding: 7px 1%;
  width: 100%;
}

select {
  width: 102.5%;
}

.checkboxGroup input {
  display: inline-block;
  width: initial;
  margin: 20px;
}

input.disabled {
  background-color: #efefef;
}

.inputWrapper {
  padding: 0 0 20px 0;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: #808080;
}

.backButton {
  font-weight: bold !important;
  display: inline-block !important;
  width: 100px;
  padding: 7px !important;
  color: #fff !important;
  background: linear-gradient(165deg, #838383, #616161);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
  border-right: 1px solid rgba(192, 192, 192, 0.3);
  border-top: 1px solid rgba(192, 192, 192, 0.3);
  background-color: #d4d4d423;
}

td {
  padding: 5px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
  border-right: 1px solid rgba(192, 192, 192, 0.3);
}

td a,
td a:hover,
td a:active {
  color: #2e5fa8;
  text-decoration: underline;
  cursor: pointer;
}

/* Page specific styles for dashboard */

#noChecksMessage td {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
}

#noChecksMessage {
  display: none;
}

#noChecksMessage p {
  margin-top: 1rem;
}

#createCheckCTA {
  width: 100%;
  margin-top: 40px;
  display: none;
}
#tosWrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

#tosWrapper input {
  width: min-content;
}

#tosWrapper div {
  padding-bottom: 2px;
}
