<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="{global.baseUrl}" />

    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}" />

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,700"
      rel="stylesheet"
    />
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" href="public/app.css" />
  </head>

  <body class="{body.class}">
    <!-- Page wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo and Title -->
        <div class="logo-box">
          <a class="logo" href="/"> <img src="public/logo.png" alt="Logo"/></a>
          <ul class="title-list">
            <li>
              <a id="title" href="/">plugd</a>
            </li>
          </ul>
        </div>

        <!-- Navigation -->
        <ul class="menu">
          <li class="loggedOut"><a href="/">Home</a></li>
          <li class="loggedOut"><a href="/account/create">Sign Up</a></li>
          <li class="loggedOut"><a href="/session/create">Log In</a></li>
          <li class="loggedIn"><a href="/checks/all">Dashboard</a></li>
          <li class="loggedIn"><a href="/account/edit">Account</a></li>
          <li class="loggedIn"><a id="logoutButton" href="#">Log Out</a></li>
        </ul>
      </div>

      <!-- Page-specific Content -->
      <div class="content">
    
  </body>
</html>
