<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  Simple uptime monitoring for HTTP/HTTPS sites. Receive sms alerts when your
  site goes up or down. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Veritatis deserunt nisi commodi quam illo. Facilis dolores quasi, dolorem quae
  ipsam, illum vero doloremque error adipisci dolore rem sit ad sed.Amet velit
  laboriosam officia dolorum nostrum. Ipsam, tenetur dolorem. Tempore nostrum
  praesentium cumque neque impedit porro, nulla qui ad ipsam aspernatur pariatur
  aut natus rerum velit eaque autem unde assumenda?
</div>

<div class="ctaWrapper">
  <a href="/account/create" class="cta green">Get started</a>
  <a href="/session/create" class="cta blue">Log in</a>
</div>
